html{
	scroll-behavior: smooth;
	/* 平滑滚动效果 *//* 允许在滚动框内的元素间平滑的“滚动效果” */
}
body{
	margin: 0px;
	/* width: ; */
	height: 1000px;
	background-color: rgba(88, 88, 88, 0.35);
}
div.woder{
    height: 100vh;
        }
.Navigation{			/* top导航栏 */
	width: 100%;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 0;
	left: 0;
	font-size: 12px;
	line-height: 20px;
	text-align: center;		/*使文字居中*/
}
.Navigation>.in,.Navigation>.left{
	width: 40px;
	height: 20px;
	background-color: red;
	border: 1px solid blue;
}
.Navigation>a{
	width: 100%;
	height: 100%;
}

/*  */
#sum{
	background-color: #fff;	/* 定义背景颜色 */
	border-width: 1px 1px 51px 1px;
	/* border-width设置边框50是边框的厚度，border-color是下面50px边框的颜色 */
	border-color: #000;
	border-style: solid;	/* 定义实线 */
	border-radius: 50%;		/* 设置div四个角为圆角 */
	/* img透明 */
	width: 100px;
	height: 50px;
	position: fixed;
	top: 52px;
	right: 3%;
	animation: python 1.8s linear infinite;
	/* 		name 	旋转时间		**	无限循环	*/
}
#sum>.box1{
	position: absolute; /* 绝对定位 膨胀 */
	top: 50%;
	left: 0;
	background-color: #fff;
	border: 17px solid #000;
}
#sum>.box2{
	position: absolute; /* 绝对定位 膨胀 */
	top: 50%;
	right: 0;
	background-color: #000;
	border: 17px solid #fff;
}
#sum>.box1,#sum>.box2{
	width: 16px;
	height: 16px;
	border-radius: 50%; /* 圆角 */
}
@keyframes python{
	0%{
		transform: rotate(0deg);/*  */
	}
	100%{
		transform: rotate(360deg);
	}
}
/* 内容 */
.content{
	width: 91%;
	height: 100px;
	padding: 0 60px;
}
/* 左边 */
.content>.box1{
	width: 30%;
	height: 95%;
	background-color: rgba(255, 0, 0, 0.9);
}
/* 右边 */
.content>.boxa1{
	width: 70%;
	height: 95%;
	background-color: rgba(0, 0, 0, 0.8);
}
.left,.in,.right,.content>.box1,.content>.boxa1{
	float: left;
}
.ne2{
	position: relative;
	top: 50px;
}
.box1,.boxa1{
	/* border: 1px solid red; */
	position: relative;
	top: 0px;
}
.box2>.box,.box3>.box,.box4>.box,.box5>.box,.box6>.box,.box7>.box,.box8>.box{
	width: 99.74%;
	height: 15rem;
	background-color: rgba(67, 67, 67, 1.0);
	border: 0.2rem solid #fff;
	margin: auto;
}
em{
	color: black;
}
a{
	text-decoration:none;
}
.picture>div>button{
	width: 50px;
	height: 35px;
	/* background-color: black; */
	padding: 0%;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	border-bottom: 0px;
}
.nv-qwyv>div>button{
	width: 40px;
	height: 35px;
	/* background-color: black; */
	padding: 0%;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	border-bottom: 0px;
}
/* .aa{
	width: 99.65%;
	height: 150px;
	background-color: rgb(0, 30, 255);
	border: 2px solid black;
} */
/* .content>.box1>.box2>.box>iframe{
	width: 100%;
	height: 100%;
} */
iframe{
	position: relative;
	width: 99.5%;
	height: 100%;
	    border-width: 0px;
	    border-top-width: 0px;
	    border-right-width: 0px;
	    border-bottom-width: 0px;
	    border-left-width: 0px;
	/* border: 1px solid #ff0000; */
}
.bottom{
	position: relative;
	top: 55px;
	height: 56px;
}